:root {
  --sc-red: #EB1C24;
  --sc-grey: #4A4A4A;
  --sc-grey-light: #5E5E5E;
  --sc-grey-super-light: #979797;
}

body {
  font-family: Roboto;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 71px;
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.nav-logo {
  height: 45px;
}

a.nav-link {
  padding: 21px 16px 7px 16px;
  font-weight: 500;
  color: var(--sc-grey-super-light);
}

.nav-link:focus, .nav-link:hover{
  color: var(--sc-grey);
}

.navbar-brand {
  padding: 2px 12px 5px 8px !important;
  margin-right: 0;
}

.nav-link-active {
  color: var(--sc-grey) !important;
  font-weight: bold;
  border-bottom: 3px solid var(--sc-red);
}

@media (min-width: 768px) {
  .nav-link {
    margin: 0px 10px;
  }
}

@media (min-width: 992px) {
  .nav-link {
    margin: 0px 10px;
  }
}

@media (min-width: 1200px) {
  .nav-link {
    margin: 0px 15px;
  }
}

.shadow-bottom {
  box-shadow: 0 2px 7px 4px rgba(225,225,225,0.5);
}

.footer {
  padding: 10px 0;
  text-align: center;
  background-color: black;
}

.footer-text {
  color: white;
  font-size: 0.8rem;
}

.copyright-text {
  color: white;
  font-size: 0.8rem;
}

.social-icon {
  padding-top: 5px;
  color: white;
  font-size: 1.75rem;
}

.social-button {
  margin: 0px 5px;
  border: solid 2px white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .copyright-text {
    font-size: 0.9rem;
  }

  .footer-text {
    font-size: 1rem;
  }

  .social-button {
    margin: 0px 15px;
  }
}

.img-logo {
  width: 280px;
}

.tagline {
  display:inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75rem;
  color: var(--sc-grey);
  margin-top: 0.5rem;
}

@media (min-width: 992px) {
  .img-logo {
    width: 350px;
  }

  .tagline {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

@media (min-width: 1200px) {
  .img-logo {
    width: 400px;
  }

  .tagline {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section-heading {
  font-size: 2rem;
  font-weight: 500;
  display:inline-block;
  text-transform: uppercase;
  border-bottom: 3px solid var(--sc-red);
  margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
  .section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: 1px 2px 4px 0 #C2C2C2;
  margin: auto;
}

.card-img-top {
  padding: 10px 10px 0px 10px;
}

.card-body {
  border-right: 4px solid var(--sc-red);
  border-bottom-right-radius: 0.25rem;
}

.card-text {
  color: var(--sc-grey-light);
}

.featured-events {
  max-width: 370px;
  height: 681px;
}

.embed-responsive-A4::before {
  padding-top: 140.817963111%;
}

.slider{
  margin-bottom:2rem;
}

.slider:focus {
  outline: none;
}

.slider-controls {
  top:40px !important;
}

.paging-dot {
  margin-top:-17px;
}

.paging-dot-button {
  fill: var(--sc-red) !important;
  width: 50px !important;
  height: 10px !important;
  background: var(--sc-red) !important;
  margin: 0px 15px !important;
  border-radius: 50px !important;
}

.paging-dot-button:focus{
  outline:none;
}

.stakeholders {
  background: url(/images/StakeholdersBackground.png) no-repeat center center;
  background-repeat: no-repeat;
  background-size: cover;
}
