:root {
  --sc-red: #EB1C24;
  --sc-grey: #4A4A4A;
  --sc-grey-light: #5E5E5E;
  --sc-grey-super-light: #979797;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 71px;
  font-family: Roboto;
}

.nav-logo {
  height: 45px;
}

a.nav-link {
  padding: 21px 16px 7px 16px;
  font-weight: 500;
  color: var(--sc-grey-super-light);
}

.nav-link:focus, .nav-link:hover{
  color: var(--sc-grey);
}

.navbar-brand {
  padding: 2px 12px 5px 8px !important;
  margin-right: 0;
}

.nav-link-active {
  color: var(--sc-grey) !important;
  font-weight: bold;
  border-bottom: 3px solid var(--sc-red);
}

@media (min-width: 768px) {
  .nav-link {
    margin: 0px 10px;
  }
}

@media (min-width: 992px) {
  .nav-link {
    margin: 0px 10px;
  }
}

@media (min-width: 1200px) {
  .nav-link {
    margin: 0px 15px;
  }
}

.content {
  flex: 1 0 auto;
  padding: 0;
}

.footer {
  flex-shrink: 0;
}

.shadow-bottom {
  box-shadow: 0 2px 7px 4px rgba(225,225,225,0.5);
}
