<!DOCTYPE html>
<html>
<head>
	<title>NUS Students' Sports Club</title>


	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="ourpartners.html">Our Partners</a></li>
					<li><a href="ourevents.html">Our Events</a></li>
					<li><a href="aboutus.html">About Us</a></li>
					<li><img id="click" href="index.html" src="img/NUSSSC_Logo.png" class="nusssc-logo"></a></li>
					<li><a href="memberclubs.html">Our Member Clubs</a></li>
					<li><a href="projects.html">Our Projects</a></li>
					<li><a href="committee.html">Our Committee</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<section id="ourcommittee">
		<div class="row text-center">
			<div class="container-fluid">
				<div class="committee-banner">
					<div class="inner-box">
						<p>MANAGEMENT COMMITTEE</p>
						<br>
						<a>THE ADMINISTRATIVE BODY OF SPORTS CLUB</a>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row text-center">

					<div class="container">
						<div class="col-sm-6 col-sm-offset-3">
							<div class="mccontent">
								<div class="mcimage">
									<img src="img/MCphoto/pres.jpg" alt="Image">
								</div>
								<div class="mcinfo">
									<p>Presidential Cell</p>
									<a>We oversee all the operations within Sports Club and act as the interface
										between Sports Club and the school. We also help to make strategic decisions,
										and influence school policies towards recreational sports in general.</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="mccontent">
								<div class="mcimage">
									<img src="img/MCphoto/finance.jpg" alt="Image">
								</div>
								<div class="mcinfo">
									<p>Finance Cell</p>
									<a>We oversee all finances under Sports Club and ensure that all
										financial procedures are carried out correctly.</a>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="mccontent">
									<div class="mcimage">
										<img src="img/MCphoto/sect.jpg" alt="Image">
									</div>
									<div class="mcinfo">
										<p>Secretariat Cell</p>
										<a>We help to settle necessary administrative, logistics and
											facilitate matters. We act as the interface with the sports office for
											the various sporting events and projects.</a>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="mccontent">
										<div class="mcimage">
											<img src="img/MCphoto/marketing.jpg" alt="Image">
										</div>
										<div class="mcinfo">
											<p>Marketing Cell</p>
											<a>We help to secure strategic supports and privilege partners for Sports Club.
												We also manage the disbursement of marketing products.</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="mccontent">
											<div class="mcimage">
												<img src="img/MCphoto/pubs.jpg" alt="Image">
											</div>
											<div class="mcinfo">
												<p>Publicity Cell</p>
												<a>We strategically brand Sports Club and its umbrella through the various outreach
													platforms available.</a>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="mccontent">
												<div class="mcimage">
													<img src="img/MCphoto/welfare.jpg" alt="Image">
												</div>
												<div class="mcinfo">
													<p>Welfare Cell</p>
													<a>We organize various initiatives to enhance the well-being as well as
														appreciate the members' for their commitments and hard work.</a>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="mccontent">
													<div class="mcimage">
														<img src="img/MCphoto/projects.jpg" alt="Image">
													</div>
													<div class="mcinfo">
														<p>Projects Cell</p>
														<a>We work together to strategically brand and organize the 6
															Sports Club projects, ensuring its quality and excellence.</a>
														</div>
													</div>
												</div>





											</div>
										</div>

									</div>
								</section>
								<div class="footer">
									<div class="container">
										<div class="col-sm-2">
											<p>ADDRESS</p><br>
											<a>8 Sports Drive 1</a><br>
											<a>S(117564)</a>
										</div>
										<div class="col-sm-2">
											<p>CONTACT US</p><br>
											<a>enquiry@nussportsclub.org</a>
										</div>
										<div class="col-sm-6"></div>
										<div class="col-sm-2">
											<div class="footer-icon">
												<a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/NUSSportsClub/" target="_blank">
													<span class="fa fa-facebook" style="font-size:48px;"></span>
												</a>
												<a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/nussportsclub/?hl=en" target="_blank">
													<span class="fa fa-instagram" style="font-size:48px;"></span>
												</a>
											</div>
										</div>
									</div>
								</div>










								<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
								<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

								<script src="js/jquery-1.11.2.min.js"></script>
								<script src="js/jquery.scrollUp.min.js"></script> <!-- https://github.com/markgoodyear/scrollup -->
								<script src="js/jquery.singlePageNav.min.js"></script> <!-- https://github.com/ChrisWojcik/single-page-nav -->
								<script src="js/parallax.js-1.3.1/parallax.js"></script> <!-- http://pixelcog.github.io/parallax.js/ -->
								<script>

								// HTML document is loaded. DOM is ready.
								$(function() {

									// Parallax
									$('.intro-section').parallax({
										background-color: #FFFFFF;,
										speed: 0.2
									});
									$('.services-section').parallax({
										imageSrc: 'img/bg-2.jpg',
										speed: 0.2
									});
									$('.contact-section').parallax({
										imageSrc: 'img/bg-3.jpg',
										speed: 0.2
									});

									// jQuery Scroll Up / Back To Top Image
									$.scrollUp({
										scrollName: 'scrollUp',      // Element ID
										scrollDistance: 300,         // Distance from top/bottom before showing element (px)
										scrollFrom: 'top',           // 'top' or 'bottom'
										scrollSpeed: 1000,            // Speed back to top (ms)
										easingType: 'linear',        // Scroll to top easing (see http://easings.net/)
										animation: 'fade',           // Fade, slide, none
										animationSpeed: 300,         // Animation speed (ms)
										scrollText: '', // Text for element, can contain HTML
										scrollImg: true            // Set true to use image
									});

									// ScrollUp Placement
									$( window ).on( 'scroll', function() {

										// If the height of the document less the height of the document is the same as the
										// distance the window has scrolled from the top...
										if ( $( document ).height() - $( window ).height() === $( window ).scrollTop() ) {

											// Adjust the scrollUp image so that it's a few pixels above the footer
											$('#scrollUp').css( 'bottom', '80px' );

										} else {
											// Otherwise, leave set it to its default value.
											$('#scrollUp').css( 'bottom', '30px' );
										}
									});

									$('.single-page-nav').singlePageNav({
										offset: $('.single-page-nav').outerHeight(),
										speed: 1500,
										filter: ':not(.external)',
										updateHash: true
									});

									$('.navbar-toggle').click(function(){
										$('.single-page-nav').toggleClass('show');
									});

									$('.single-page-nav a').click(function(){
										$('.single-page-nav').removeClass('show');
									});

								});
								</script>
								<script>
								$("#click").click(function() {
									window.location.href = "index.html"
								});
								</script>

							</body>
							</html>
